.form {
    background-color: #fcf9f9;
    box-shadow: 0px 1px 5px 1px rgb(196, 196, 196);
    border-radius: 5px;
    padding: 30px;
}

.form span {
    color: red;
}

.form button {
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #0dc916;
    color: #fafafa;
    font-size: 18px;
    padding: 10px 20px;
}

.form button:hover {
    box-shadow: 0px 0px 50px 1px inset #02f70e80;
}

.user_details {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}

.user_details>div {
    flex: 50%;
}

.user_details>div:not(:last-child) {
    margin-bottom: 20px;
}

.user_details input {
    width: 70%;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 1px rgb(214, 214, 214);
}

.user_details input:focus {
    outline: none;
    box-shadow: 0px 1px 2px 1px rgb(127, 146, 168);
}

/* all inputs */
input {
    display: block;
    margin-top: 5px;
    padding: 5px 10px;
}

/* only radio inputs */
input[type="radio"] {
    display: inline-block;
    margin-right: 5px;
}

/* only phone input */
input[name="phone"] {
    width: 30%;
}

.radio_inputs {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 5px;
}

.radio_inputs li {
    margin-right: auto;
    cursor: pointer;
}

.feedback {
    padding: 10px 0;
}

.feedback>div {
    margin: 20px 0;
}

.error input {
    box-shadow: 0px 0px 2px 1px rgb(247, 64, 64);
}

.error p {
    text-transform: capitalize;
    color: red;
    font-size: 12px;
    padding: 8px 0 0;
}

/* media queries below */
@media only screen and (max-width: 800px) {
    .radio_inputs {
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    .user_details {
        flex-direction: column;
        justify-content: center;
    }
    .user_details>div {
        width: 100%;
        flex: 1;
    }
    .user_details input{
        width: 100%;
    }
}